* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link1 a:hover {
    font-size: larger;
}

.link2 a:hover {
    font-size: larger;
}

.link3 a:hover {
    font-size: larger;
}

.link1 p a {
    position: absolute;
    left: 46%;
}

.link2 p a {
    position: absolute;
    left: 46%;
}

.link3 p a {
    position: absolute;
    left: 45%;
}



h2 {
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    text-indent: 40px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}

body {
    background-color: lightgray;
}

.sinopsis {
    margin: 40px;
}

.PCWPP {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 25px;
    color: white;
}

.img1 {
    position: absolute;
    left: 3%;
    top: 17%;
    z-index: -1;
}

.img2 {
    position: absolute;
    left: 37%;
    top: 17%;
    z-index: -1;
}

.img3 {
    position: absolute;
    top: 17%;
    left: 71%;
    z-index: -1;
}

.Rubuhin {
    font-size: 40px;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    text-indent: 40px;
    color: red;
    background-color: black;
    margin-left: 0;
    padding-bottom: 20px;
    padding-top: 18px;

}

.Rubuhin2 {
    font-size: 70px;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    text-indent: 0;
    color: red;
    margin-right: 0;
    padding-right: 100px;
    padding-bottom: 100px;

}

.ngisor {
    background-color: black;
    padding-top: 80px;
}

.ngisor p a {
    color: goldenrod;
}